site_name: NeuroGym
site_description: A curated collection of neuroscience tasks with a common interface
strict: false
site_url: https://neurogym.github.io/

theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-night
        name: "Switch to light mode"
  features:
    - announce.dismiss
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - navigation.indexes
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
  icon:
    logo: material/brain
    next: fontawesome/solid/angle-right
    previous: fontawesome/solid/angle-left
    repo: fontawesome/brands/github-alt
    view: material/file-eye
  favicon: "brain.png"

repo_url: https://github.com/neurogym/neurogym
repo_name: neurogym/neurogym
edit_uri: edit/main/docs/

# Page tree
nav:
  - Home: index.md
  - Getting started:
      - Installation: installation.md
      - NeuroGym: neurogym.md
      - Custom tasks: examples/understanding_neurogym_task.ipynb
  - Examples:
      - NeuroGym with RL: examples/example_neurogym_rl.ipynb
      - NeuroGym with PyTorch: examples/example_neurogym_pytorch.ipynb
      - NeuroGym with Keras: examples/example_neurogym_keras.ipynb
  - API Documentation:
      - Core: api/core.md
      - Environments: api/envs.md
      - Tags:
          - Confidence: api/tags/confidence.md
          - Context Dependent: api/tags/context_dependent.md
          - Continuous Action Space: api/tags/continuous_action_space.md
          - Delayed Response: api/tags/delayed_response.md
          - Go-No-Go: api/tags/go_no_go.md
          - Motor: api/tags/motor.md
          - Multidimensional Action Space: api/tags/multidimensional_action_space.md
          - N-alternative: api/tags/n_alternative.md
          - Perceptual: api/tags/perceptual.md
          - Steps Action Space: api/tags/steps_action_space.md
          - Supervised: api/tags/supervised.md
          - Timing: api/tags/timing.md
          - Two-Alternative: api/tags/two_alternative.md
          - Value-Based: api/tags/value_based.md
          - Working Memory: api/tags/working_memory.md
      - Utils: api/utils.md
      - Wrappers: api/wrappers.md
  - About:
      - Contributing: contributing.md
      - Code of Conduct: code_of_conduct.md
      - License: project-license.md

extra:
  version:
    provider: mike

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_lang_class: true
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.magiclink

watch:
  - docs

plugins:
  - mkdocs-jupyter:
      execute: false
      include_source: true
  - mike:
      alias_type: symlink
      canonical_version: latest
  - search
  - exclude:
      glob:
        - __pycache__/*
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.scipy.org/doc/scipy/objects.inv
            - https://pandas.pydata.org/docs/objects.inv
          options:
            members_order: source
            filters: ["!^_"]
            merge_init_into_class: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            signature_crossrefs: true
            separate_signature: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
